@{
    ViewBag.Title = "Index";
}
@section head
{
    @Styles.Render("~/css/todo")
}

@section scripts
{
    @Scripts.Render("~/resources/jquery")
    @Scripts.Render("~/resources/signalr")

    <script src="/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            var hub = $.connection.log;
            
            hub.client.addMessage = function (message) {
                $('#messages').append('<li>' + message + '</li>');
            };
            
            $.connection.hub.start().done(function () {
                hub.client.addMessage("Verbindung aufgebaut");
            });
        });
    </script>
}

<h2>Log</h2>

<ul id="messages">
    
</ul>